.DS_STORE
.gitignore
app-dev/
multipleChoiceTrivia/multipleChoiceTrivia.py
wikipediaQueryBot/wikipediaQueryBot.py
project-ideas/
madLibsGame/madLibsBeta.py
venv/
.replit
replit.nix
releases/
poetry.lock
pyproject.toml